@import 'colors';
@import 'typography';
@import 'button';
@import 'spacing';
@import 'form';
@import 'aos';

* {
  transition: all 0.3s;
}


body {
  font-family: 'Circular Std Book';
  font-size: 18px;
}

a {
  text-decoration: none;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
 
  @media only screen and (max-width: 575px) {
  padding-right: 24px;
  padding-left: 24px;
  }
}

header {
  z-index: 10;
  background: $WHITE;
  right:0;
  left: 0;
  top:0;
  border-bottom: solid thin #eee;

  nav {
    a {
      color: $BLACK;
      text-decoration: none;
      padding-right: 10px;
      display: inline-block;
      font-size: 16px;
      font-family: 'Circular Std';

      &:hover {
        color: $PC !important;
      }
    }
  }

  .logo{
    @media only screen and (min-width: 1199px) {
    max-width: 350px;
    }
    @media only screen and (max-width: 1199px) {
      max-width: 250px;;
      }

      @media only screen and (max-width: 575px) {
        max-width:220px !important;
        }
     
  }




  
}



.hamburger-button {
  outline: none;
  border: none;
  cursor: pointer;
  width: 3em;
  height: 2em;
  position: relative;
  z-index: 10;
  background-color: transparent;
  background-image: url(https://res.cloudinary.com/dnpyq0ocz/image/upload/v1588441892/icon-hamburger.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-tap-highlight-color: transparent;

  &.open {
    background-image: url(https://res.cloudinary.com/dnpyq0ocz/image/upload/v1588441892/icon-hamburger-close.svg);
  }


  @media only screen and (max-width: 575px) {
    width: auto !important;
  height: auto !important;
  padding: 0;
    }


}

.panel {
  max-width: 500px;
  background-color: $WHITE;
  background-size: 117px 188px;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.34, 1.01);
  position: fixed;
  z-index: 11;
  right: -100%;
  top: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  padding: 2em;
  display: flex;
  background: $WHITE url('../images/round.svg');
  background-size: 50%;
    background-position: bottom left;
    background-repeat: no-repeat;

  a {
    color: $BLACK;
    text-decoration: none;
    padding: 10px;
    display: block;
    font-size: 18px;
    font-family: 'Circular Std';


    &:hover {
      color: $PC !important;
    }
  }

  &.open {
    visibility: visible;
    width: 100%;
    right: 0;
    opacity: 1;
  }

  .close{
    position: absolute;
    right: 20px;
    top: 20px;
  }
}

.nav-up {
 
  transform: translate(0, 0);

//  backdrop-filter: blur(5px);

}

.nav-down {
 
  transform: translate(0, -300%);
  

}


footer {
  background: $BODY;

  * {
    color: $WHITE;
  }

  a,
  p {
    display: block;
    font-size: 1rem;
  }

  a {
    &:hover {
      color: $PC !important;
    }
  }

  hr{
    border-top:solid 2px #ffffff27;
  }

}


.logo{
  max-width: 300px !important;
  min-width: auto;

}

.loading{
  background: $WHITE;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;

  
@keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: .25;
    transform: scale(.75);
  }
}



.spinner-box {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}




/* PULSE BUBBLES */

.pulse-container {
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pulse-bubble {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $PC;
}

.pulse-bubble-1 {
    animation: pulse .4s ease 0s infinite alternate;
}
.pulse-bubble-2 {
    animation: pulse .4s ease .2s infinite alternate;
}
.pulse-bubble-3 {
    animation: pulse .4s ease .4s infinite alternate;
}

}

.hero {
  @media only screen and (min-width: 575px) {
    min-height: calc(100vh - 100px);
  }

  min-height: calc(50vh - 100px);

  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: block;
    z-index: -1;
    object-fit: cover;
    height: 100% !important;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.9;
    background: rgb(116, 116, 116);
    background: -moz-linear-gradient(83deg, rgba(116, 116, 116, 0.7287289915966386) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(83deg, rgba(116, 116, 116, 0.7287289915966386) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(83deg, rgba(116, 116, 116, 0.7287289915966386) 0%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#747474", endColorstr="#ffffff", GradientType=1);

  }
}

.h-half {
  @media only screen and (min-width: 575px) {
    min-height: calc(90vh - 50px);
  }

  min-height: inherit;
}


.about,
.cta {
  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: block;
    object-fit: cover;
    height: 100%;
    z-index: 1;
    filter: grayscale(1);
    opacity: 0.1;
  }

  .content {
    position: relative;
    z-index: 1;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #07becbe0;
  }

 

}

.parallax-banner{
  > div{
    filter: grayscale(1);
   // opacity: 0.6;
  }
}


.specialities {
 

  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: block;
    object-fit: cover;
    height: 100%;
    filter: grayscale(1);

  }


  .content {
    position: relative;
    z-index: 1;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #15286196;
  }


  .btn-outline {


    &:hover {
      background-color: $WHITE !important;
      color: $SC !important;
      border-color: $WHITE !important;
    }
  }


}

.round {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  max-width: 20%;
  img{
    width: 100%;
  }
}


.social{
  a{
    background: rgb(199 251 255 / 6%);
    display: flex;
    padding: 5px;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 18px;
    

    svg{
      height: 20px;
    width: 20px;    }

    &:hover{
      background: $PC;
    }
}
  
}


.box{
  background: #ffffffb8;
  border:solid thin #E8E8E8;
  border-radius: 20px;
  padding: 60px;
  @media only screen and (max-width: 1199px) {
    padding: 30px;
    }

    img{
      margin-bottom: 30px;
    }

    .time{
      display: block;
      margin: 20px 0;
      border-left: solid 2px $PC;
      padding-left: 20px;;
    }

    p{
      margin-bottom: 0;
    }

    .doctor-photo{
      max-width: 280px;
      min-width: auto;
    }
}

.sticky-column{
  > div{
    @media only screen and (min-width: 1199px) {
    width: 50%;
    float: left;
    }
    @media only screen and (max-width: 1199px) {
      margin-top: 30px;
      }
  }

  .sticky {
    @media only screen and (min-width: 1199px) {
    position: -webkit-sticky;
    position: sticky;
    top: 15px; 
    }
 }

}

hr{
  border-color: #ccc;
}





.content-data{
  img{
    border-radius: 20px 20px 20px 20px;
  }
  .wp-block-columns{
    margin-bottom: 50px;
  }
}

.blog-content{
  a{
    color:$PC;
  }
  img{
   
      border-radius: 1rem !important;

  }
}

.doctor-photo{
  @media only screen and (max-width: 575px) {
  max-width: 230px !important;
  min-width: 230px !important;
  
  }
}


.alert-success{
  background: #e5ffe5;
  border: 0;
  text-align: center;
  font-size: 16px;
  color: #229922;
  padding: 14px;
}


.cover-image{
  object-fit: cover !important;
}

img{
  height: auto !important;
}

.page-header, .fixed-bg{
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover !important;
}